/* UNIVERSAL SELECTOR */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

/* ELEMENT SELECTOR */
p {
  color: purple;
}

/* CLASS SELECTOR */
.tag {
  color: orange;
}

/* ID SELECTOR */
#featured {
  color: gold;
}

/* ATTRIBUTE SELECTOR */
input[type="number"] {
  background-color: gold;
}

/* Fancy attribute selectors - contains, starts with and ends with */

a[href*="wiki"] {
  color: cyan;
}
a[href^="#"] {
  color: darkviolet;
}
a[href$=".org"] {
  color: green;
}

/* GROUPING/LIST SELECTOR */

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
}

.score,
.tag {
  color: wheat;
  background-color: orangered;
}

/* DESCENDANT SELECTOR/COMBINATOR - nested anywhere */

#cast span {
  color: gray;
}

/* CHILD SELECTOR/COMBINATOR - Must be a direct child, one level only. We couldn't use color because it would get inherited */

ol > li {
  border: 1px solid blue;
}

/* COMPOUND SELECTORS / CHAINING SELECTORS */
