* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #333;
}

.container {
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.box {
  background-color: black;
  color: white;
  width: 300px;
  height: 300px;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid white; */
  position: relative;
}

.box::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 306px;
  height: 306px;
  background: linear-gradient(to bottom right, cyan, magenta);
  z-index: -1;
}
