:root {
  /* Text */

  --text-dark: #000;
  --text-light: #fff;
  --text-grey: #adbdcc;
  --body-font: "Roboto", sans-serif;
  --heading-font: "Anek Telugu", sans-serif;
  --h1-size: 94px;
  --h1-height: 108px;
  --h2-size: 50px;
  --h2-height: 75px;
  --h3-size: 40px;
  --h4-size: 32px;
  --h5-size: 28px;
  --h6-size: 22px;
  --subtitle-size: 17px;
  --subtitle-height: 26px;
  --p-size: 18px;
  --p-height: 26px;
  --secondary-text-size: 14px;
  --secondary-text-height: 18px;
  --btn-size: 16px;

  /* Colors */

  --purple-1: #6962f7;
  --purple-2: #7000ff;
  --blue-1: #00d4ff;
  --primary-btn-hover: #6d7a88;
  --primary-accent: #0a2540;
  --bg-white: #fff;
  --bg-light: #f7f9fc;

  /* Gradients */

  --primary-gradient: linear-gradient(
    101.33deg,
    #08209a 0.76%,
    #6563ff 33.33%,
    #36c5f0 76.92%,
    #83e2ff 96.96%
  );

  /* Box-shadows */
  --standard-box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
  /* Spacing */

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;

  /* Layout */

  --standard-width: 1144px;
}

body {
  font-family: var(--body-font);
  color: var(--text-dark);
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding-top: var(--spacing-sm);
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  margin-top: var(--spacing-xl);
  width: 100%;
}

/* ***********************************************
******************** HEADINGS ********************
**************************************************/

h1 {
  font-family: var(--heading-font);
  font-size: var(--h1-size);
  font-weight: 600;
  margin: 0;
  width: 100%;
  letter-spacing: -1px;
  line-height: var(--h1-height);
}

/* h2 {
  font-family: var(--heading-font);
  font-size: var(--h2-size);
  font-weight: 500;
  margin: 0;
  width: 100%;
  letter-spacing: -0.25px;
  line-height: var(--h2-height);
} */

h2 {
  font-family: var(--heading-font);
  font-size: var(--h3-size);
  font-weight: 600;
  margin: 0;
  width: 100%;
}

h3 {
  font-family: var(--heading-font);
  font-size: var(--h3-size);
  font-weight: 500;
  margin: 0;
  width: 100%;
}

h4 {
  font-family: var(--heading-font);
  font-size: var(--h4-size);
  font-weight: 500;
  margin: 0;
  width: 100%;
  letter-spacing: 0.25px;
}
h5 {
  font-family: var(--heading-font);
  font-size: var(--h5-size);
  font-weight: 500;
  margin: 0;
  width: 100%;
}
h6 {
  font-family: var(--heading-font);
  font-size: var(--h6-size);
  font-weight: 500;
  margin: 0;
  width: 100%;
  letter-spacing: 0.25px;
}

/* ***********************************************
******************** LINKS ********************
**************************************************/

a {
  text-decoration: none;
  color: var(--purple-1);
  font-weight: 500;
  transition: color 0.25s ease;
}

a:hover {
  color: var(--primary-accent);
}

/* ***********************************************
******************** SUBTITLES ********************
**************************************************/

.subtitle,
.subtitle2 {
  color: var(--purple-1);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--subtitle-size);
  line-height: var(--subtitle-height);
}

.subtitle2 {
  color: var(--blue-1);
}

/* ***********************************************
******************** PARAGRAPHS ********************
**************************************************/

p {
  font-size: var(--p-size);
  line-height: var(--p-height);
  font-weight: 400;
  margin-block: var(--spacing-md);
}

.secondary-text {
  font-size: var(--secondary-text-size);
  line-height: var(--secondary-text-height);
  letter-spacing: 0.25px;
  color: var(--text-grey);
}

/* ***********************************************
******************** BUTTONS ********************
**************************************************/

.primary-btn {
  font-family: var(--body-font);
  font-size: var(--btn-size);
  letter-spacing: 1.25px;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  color: var(--text-light);
  background-color: var(--primary-accent);
  padding: var(--spacing-sm) var(--spacing-md);
  cursor: pointer;
  transition: all 0.15s ease;
}

.primary-btn:hover {
  background-color: var(--primary-btn-hover);
}

.secondary-btn {
  font-family: var(--body-font);
  font-size: var(--btn-size);
  padding-left: 0;
  letter-spacing: 1.25px;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  color: var(--primary-accent);
  background-color: transparent;
  cursor: pointer;
  transition: all 0.15s ease;
}

.secondary-btn:hover {
  opacity: 0.75;
}

/* Arrow animation */

.with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.with-icon > img {
  transition: transform 0.25s;
}

.with-icon:hover > img {
  transform: translateX(4px);
}

/* ***********************************************
******************** COMPONENTS ********************
**************************************************/

/* Card */
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm) 0;
}

.card .icon {
  height: 50px;
  margin: 0 0 var(--spacing-sm) 0;
}

.card h3 {
  font-family: var(--heading-font);
  font-size: var(--h6-size);
  font-weight: 500;
  margin: 0;
  width: 100%;
}

/* ***********************************************
******************** LAYOUT ********************
**************************************************/

.section-container {
  width: 100%;
  max-width: var(--standard-width);
}

.two-column {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.two-column > .col-left {
  width: 50%;
  box-sizing: border-box;
  padding: 0 var(--spacing-md) 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.two-column > .col-right {
  width: 50%;
  box-sizing: border-box;
  padding: 0 0 0 var(--spacing-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* -------------------------- NAVBAR -------------------------- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: var(--standard-width);
  padding: 0 var(--spacing-md);
  margin-bottom: var(--spacing-xl);
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.menu a {
  color: var(--text-light);
  margin: 0 var(--spacing-md);
  font-weight: 700;
}

.menu a:hover {
  text-decoration: underline;
}

.navbar-btn {
  background-color: rgba(250, 250, 250, 0.25);
}
.navbar-btn:hover {
  background-color: rgba(250, 250, 250, 0.5);
}

.hamburger-btn {
  display: none;
}
/* -------------------------- CANVAS ANIMATED GRADIENT -------------------------- */
#gradient-canvas {
  width: 200%;
  height: 970px;
  transform: rotate(-10deg);
  position: absolute;
  top: -600px;
  left: -50%;
  z-index: -1;
  --gradient-color-1: #ef008f;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #7038ff;
  --gradient-color-4: #ffba27;
}
/* -------------------------- HERO -------------------------- */

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero p {
  max-width: 480px;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-md);
  margin-block: var(--spacing-md);
}

.btn-wrapper .secondary-btn.with-icon {
  color: var(--purple-2);
}

.hero-phone-wrapper {
  height: 564px;
}

.hero .hero-phone {
  height: 628px;
  transform: translate(32px, -32px);
  align-self: end;
}

/* -------------------------- PARTNERS SECTION -------------------------- */
.partners-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.partners-grid img {
  height: 60px;
  place-self: center;
}
.partners-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-block: var(--spacing-xl);
  column-gap: var(--spacing-md);
  row-gap: var(--spacing-lg);
}

/* -------------------------- UNIFIED PLATFORM SECTION -------------------------- */

.unified-platform-section {
  padding-block: var(--spacing-xl);
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg-light);
}

.unified-platform-section h2 {
  width: 50%;
  margin-bottom: var(--spacing-md);
}

.unified-platform-section .primary-btn {
  margin-block: var(--spacing-md);
  background-color: var(--purple-1);
}
.unified-platform-section .primary-btn:hover {
  background-color: var(--primary-accent);
}

/* -------------------------- GRAPHIC-SECTION -------------------------- */
.graphic-section {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg-light);
}

.graphic-grid {
  display: grid;
  grid-template-areas:
    "card slack slack"
    "phone slack slack"
    "phone dash dash";
  gap: var(--spacing-lg);
  padding-block: var(--spacing-lg);
}

#credit-card {
  grid-area: card;
}
#slack-invoice {
  grid-area: slack;
}
#phone {
  grid-area: phone;
}

#dash {
  grid-area: dash;
}

.graphic-grid img {
  display: block;
  width: 100%;
  box-shadow: var(--standard-box-shadow);
}

/* -------------------------- INTEGRATIONS-SECTION -------------------------- */

.integrations-section {
  color: var(--text-light);
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-block: calc(var(--spacing-xl) * 3);
  z-index: 1;
}

.integrations-section::before {
  content: "";
  position: absolute;
  top: -32px;
  left: 0;
  width: 100%;
  height: 1100px;
  z-index: -1;
  transform: skewY(-10deg);
  background-color: var(--primary-accent);
}

/* This is to cover the white background */
.integrations-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -2;
  background-color: var(--bg-light);
}

.integrations-section .col-left .primary-btn {
  background-color: var(--blue-1);
  color: var(--primary-accent);
  margin-top: var(--spacing-md);
}

.integrations-section .col-left .primary-btn:hover {
  background-color: var(--bg-light);
}

.integrations-section .card-container {
  display: flex;
  margin-block: var(--spacing-lg);
}

.integrations-section .card-container .card {
  width: 50%;
}

.integrations-section .card .secondary-btn {
  color: var(--blue-1);
}

#api-code {
  max-width: 470px;
  margin-bottom: var(--spacing-md);
  border-radius: 20px;
}
#terminal-code {
  max-width: 470px;

  border-radius: 20px;
}

/* -------------------------- WHY-SWIPE-SECTION -------------------------- */
.why-swipe-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-block: calc(var(--spacing-xl) * 3);
}

.why-swipe-section .card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-block: var(--spacing-lg);
}

.why-swipe-section .card-container .card {
  width: 25%;
  box-sizing: border-box;
  padding: 0 var(--spacing-sm) 0 0;
  margin: 0 var(--spacing-md) 0 0;
}

.why-swipe-section .card-container .card p {
  font-size: var(--secondary-text-size);
  color: var(--text-dark);
}

/* -------------------------- GLOBAL-SECTION -------------------------- */

.global-section {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--text-light);
  position: relative;
  padding-top: calc(var(--spacing-xl) * 3);
}

.global-section::before {
  content: "";
  position: absolute;
  top: -32px;
  left: 0;
  width: 100%;
  height: 1200px;
  z-index: -2;
  transform: skewY(-10deg);
  background-color: var(--primary-accent);
}

.global-section a {
  color: var(--blue-1);
}

.global-section a:hover {
  color: var(--text-light);
}

.global-section .card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-block: calc(var(--spacing-xl) * 2);
}

.global-section .card-container .card {
  width: 25%;
  box-sizing: border-box;
  padding: 0 var(--spacing-sm) 0 0;
  margin: 0 var(--spacing-md) 0 0;
}

.global-section .card-container .card h3 {
  border-left: 2px solid var(--blue-1);
  padding-left: var(--spacing-sm);
  font-size: 28px;
}

#globe {
  max-width: 844px;
  opacity: 25%;
  position: absolute;
  top: 10%;
}

/* -------------------------- EVENTS-SECTION -------------------------- */
.virtual-events-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-block: calc(var(--spacing-xl) * 2);
  position: relative;
}

.virtual-events-section::before {
  content: "";
  background-color: var(--bg-white);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.virtual-events-section .col-left {
  align-self: center;
  padding-right: var(--spacing-xl);
}

.virtual-events-section .primary-btn {
  background-color: var(--purple-1);
  margin-top: var(--spacing-md);
}
.virtual-events-section .primary-btn:hover {
  background-color: var(--primary-accent);
}

.swipe-sessions-card {
  width: 540px;
  height: 446px;
  box-shadow: var(--standard-box-shadow);
  border-radius: 20px;
  overflow: hidden;
}

.swipe-sessions-card .card-top {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swipe-sessions-card .card-top::before {
  content: "";
  position: absolute;
  top: -40%;
  width: 100%;
  height: 150%;
  background: var(--primary-gradient);
  transform: skewY(-5deg);
  z-index: 1;
}

#sessions-logo {
  z-index: 2;
  width: 338px;
}

.virtual-events-section .avatars {
  position: absolute;
  bottom: -70px;
  left: var(--spacing-xl);
  z-index: 2;
}

.virtual-events-section .avatars img {
  width: 80px;
}

.virtual-events-section .avatars img:nth-of-type(2) {
  position: absolute;
  left: 55px;
}

.virtual-events-section .card-bottom {
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  padding: var(--spacing-xl);
}

.virtual-events-section .card-bottom .subtitle {
  margin-top: 32px;
}

.virtual-events-section .card-bottom .secondary-text {
  color: var(--text-dark);
  font-weight: 700;
  width: 50%;
}

/* -------------------------- GETTING-STARTED-SECTION -------------------------- */
.getting-started-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-block: var(--spacing-xl);
}

.getting-started-section .col-left {
  box-sizing: border-box;
  width: 50%;
  padding-right: var(--spacing-xl);
}

.getting-started-section .col-right {
  flex-direction: row;
}

.getting-started-section .col-right .card {
  width: 50%;
  box-sizing: border-box;
  padding: 0 var(--spacing-sm) 0 0;
  margin: 0 var(--spacing-md) 0 0;
}

.getting-started-section .primary-btn {
  background-color: var(--purple-1);
  margin-top: var(--spacing-md);
}
.getting-started-section .primary-btn:hover {
  background-color: var(--primary-accent);
}

.getting-started-section .col-right .card .secondary-btn {
  color: var(--purple-2);
}

/* -------------------------- FOOTER-SECTION -------------------------- */

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg-light);
  padding-block: var(--spacing-xl);
}

.footer .section-container {
  display: flex;
}

.footer .col {
  width: 25%;
}

#footer-logo {
  max-width: 108px;
  margin: 0 0 var(--spacing-md) 0;
}

.footer .icon-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin: var(--spacing-sm) 0;
}

.footer .icon-link img {
  width: 24px;
}

.footer h3 {
  font-size: var(--h6-size);
  font-weight: 700;
}
.footer .col ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--spacing-md);
}

.footer .col a {
  color: var(--text-dark);
  font-weight: 400;
}
.footer .col a:hover {
  color: var(--purple-1);
  text-decoration: underline;
}

/* -------------------------- Media queries -------------------------- */

/* Media query to add padding-inline to all the containers below 1440px */

@media only screen and (max-width: 1144px) {
  .section-container {
    padding-inline: var(--spacing-md);
  }

  :root {
    --h1-size: 80px;
    --h1-height: 85px;
  }

  .hero .hero-phone {
    height: 550px;
    transform: translateY(-60px);
  }

  .hero .col-left {
    width: 60%;
  }
  .hero .col-right {
    width: 40%;
  }
}

@media only screen and (max-width: 850px) {
  /* Hero section */
  :root {
    --h1-size: 70px;
    --h1-height: 85px;
  }

  .hero .hero-phone {
    transform: translateY(-85px);
  }

  /* Partners Grid */
  .partners-grid img {
    width: 100%;
    height: auto;
  }

  /* Integrations Section */
  .integrations-section .col-left {
    width: 60%;
  }
  .integrations-section .col-left {
    width: 60%;
  }
  .integrations-section .col-right {
    width: 40%;
  }
}

/* Tablet size */

@media only screen and (max-width: 768px) {
  :root {
    --h1-size: 55px;
    --h1-height: 60px;
    --h3-size: 34px;
    --h6-size: 16px;
  }

  /* Navbar */
  .navbar {
    margin: var(--spacing-sm) 0 var(--spacing-lg) 0;
  }

  .navbar .menu {
    display: none;
  }

  .navbar .navbar-btn {
    display: none;
  }

  .hamburger-btn {
    width: 50px;
    height: 30px;
    background-color: rgba(250, 250, 250, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hamburger-btn .bar {
    width: 18px;
    height: 2px;
    background-color: var(--bg-white);
    margin: 1px 0;
  }

  /* Main element */

  main {
    margin-top: 0;
  }

  /* Hero section */

  #gradient-canvas {
    height: 820px;
  }

  /* Hero */

  .hero .two-column {
    align-items: center;
  }
  .hero .col-left {
    width: 60%;
  }

  .hero .col-right {
    width: 40%;
  }

  .hero .hero-phone {
    height: 450px;
    transform: translateX(32px);
  }
  /* Unified platform section */

  .unified-platform-section h2 {
    width: 100%;
  }

  /* Integrations section */

  .integrations-section .card-container {
    flex-direction: column;
  }

  .integrations-section .card-container .card {
    width: 100%;
  }

  /* Why swipe section */

  .why-swipe-section {
    padding: var(--spacing-md) 0 var(--spacing-xl) 0;
  }

  .why-swipe-section .card-container {
    flex-wrap: wrap;
  }

  .why-swipe-section .card-container .card {
    width: 50%;
    margin: 0;
    padding-block: var(--spacing-md);
  }

  /* Global section section */

  .global-section .card-container {
    flex-wrap: wrap;
    margin-block: calc(var(--spacing-xl));
  }

  .global-section .card-container .card {
    width: 50%;
    margin: 0;
    margin-block: var(--spacing-md);
  }

  /* Getting started section */

  .getting-started-section .two-column {
    align-items: center;
  }

  .getting-started-section .col-left {
    width: 100%;
    padding: 0;
    margin-bottom: var(--spacing-lg);
  }

  .getting-started-section .col-right {
    flex-direction: column;
    gap: var(--spacing-md);
  }

  .getting-started-section .col-right .card {
    width: 100%;
    margin: 0;
  }

  .getting-started-section .col-right .card .icon {
    width: 35px;
    height: auto;
    margin: 0;
  }
}

/* Mobile size */

@media only screen and (max-width: 550px) {
  :root {
    --h1-size: 55px;
    --h1-height: 60px;
  }

  .two-column {
    flex-direction: column;
  }
  .two-column .col-left {
    width: 100%;
  }

  .two-column .col-right {
    width: 100%;
    padding: 0;
  }

  /* Navbar */

  .navbar {
    margin: var(--spacing-sm) 0 var(--spacing-lg) 0;
  }
  /* Main element */

  main {
    margin-top: var(--spacing-md);
  }

  /* Hero section */

  #gradient-canvas {
    height: 820px;
  }

  .hero .col-left {
    padding: 0;
  }

  .hero .two-column .hero-phone-wrapper {
    display: none;
  }

  .partners-grid {
    grid-template-columns: 1fr 1fr;
  }

  /* Unified platform section */

  .unified-platform-section {
    padding-block: var(--spacing-md);
  }
  /* Integrations section */

  .integrations-section {
    padding-block: var(--spacing-lg);
  }

  .integrations-section::before {
    height: 900px;
  }
  .integrations-section .col-right {
    display: none;
  }

  /* Why swipe section */

  .why-swipe-section {
    padding: var(--spacing-xl) 0 var(--spacing-md) 0;
  }

  .why-swipe-section .card-container .card {
    width: 100%;
    padding-block: var(--spacing-sm);
  }

  .why-swipe-section .card-container .card .icon {
    height: 35px;
  }

  /* Global section section */

  .global-section {
    padding-top: var(--spacing-xl);
  }

  .global-section .card-container {
    margin-block: var(--spacing-md);
  }

  .global-section .card-container .card {
    width: 100%;
    margin-block: var(--spacing-sm);
  }

  #globe {
    opacity: 10%;
  }

  /* Virtual events section */

  .virtual-events-section {
    padding: 0;
  }

  .virtual-events-section .col-left {
    padding: 0;
    margin-bottom: var(--spacing-xl);
  }

  .virtual-events-section .swipe-sessions-card {
    width: 100%;
  }
  .virtual-events-section .swipe-sessions-card {
    width: 100%;
  }

  .virtual-events-section .swipe-sessions-card .secondary-text {
    width: 100%;
  }

  #sessions-logo {
    width: 300px;
  }

  .virtual-events-section .swipe-sessions-card .card-top {
    height: 40%;
  }

  .virtual-events-section .swipe-sessions-card .card-bottom {
    padding: var(--spacing-xl) var(--spacing-lg);
  }

  /* Getting started section */

  .getting-started-section {
    padding-block: var(--spacing-lg);
  }
  /* Footer section */

  .footer .section-container {
    flex-wrap: wrap;
    row-gap: var(--spacing-md);
  }

  .footer .col {
    width: 50%;
  }

  .footer .col a {
    font-size: 13px;
  }

  #footer-logo {
    width: 70px;
  }

  .footer .col .icon-link img {
    width: 20px;
  }
}

/* This was done for the overflowing backgrounds and images because he set fixed widths */

html,
body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
